/BepInEx

/JuicyRealmPlugin/bin
/JuicyRealmPlugin/obj
/JuicyRealmPlugin/JuicyRealmPlugin.csproj

/WizardOfLegendPlugin/bin
/WizardOfLegendPlugin/obj
/WizardOfLegendPlugin/WizardOfLegendPlugin.csproj

/BroforcePlugin/bin
/BroforcePlugin/obj
/BroforcePlugin/BroforcePlugin.csproj
